<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.coenraets.pageslider"
        versionCode="10" 
        version   = "1.0.0">

    <name>Page Slider</name>

    <description>
        An application demonstrating hardware accelerated page transitions. 
    </description>

    <author href="https://google.com" email="griebel@gmail.com">
        Bob
    </author>


    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="TopActivityIndicator" value="gray" />
    <preference name="EnableLocation" value="false" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="ShowSplashScreenSpinner" value="true" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value=".25" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="AllowInlineMediaPlayback" value="false" />
    <preference name="BackupWebStorage" value="cloud" />

    <content src="index.html" />

    <plugins>
        <plugin name="cordova-plugin-battery-status" source="npm" />
        <plugin name="cordova-plugin-camera"         source="npm" />
        <plugin name="cordova-plugin-console"        source="npm" />
        <plugin name="cordova-plugin-contacts"       source="npm" />
        <plugin name="cordova-plugin-device"         source="npm" />
        <plugin name="cordova-plugin-device-motion"  source="npm" />
        <plugin name="cordova-plugin-device-orientation" source="npm" />
        <plugin name="cordova-plugin-dialogs"        source="npm" />
        <plugin name="cordova-plugin-file"           source="npm" />
        <plugin name="cordova-plugin-file-transfer" source="npm" />
        <plugin name="cordova-plugin-geolocation"    source="npm" />
        <plugin name="cordova-plugin-globalization"  source="npm" />
        <plugin name="cordova-plugin-inappbrowser"   source="npm" />
        <plugin name="cordova-plugin-legacy-whitelist" source="npm" /> 
        <plugin name="cordova-plugin-media"          source="npm" />
        <plugin name="cordova-plugin-media-capture"  source="npm" />
        <plugin name="cordova-plugin-network-information" source="npm" />
        <plugin name="cordova-plugin-splashscreen"   source="npm" />
        <plugin name="cordova-plugin-statusbar"      source="npm" />
        <plugin name="cordova-plugin-test-framework" source="npm" />
        <plugin name="cordova-plugin-vibration"      source="npm" />
        <plugin name="cordova-plugin-whitelist"      source="npm" />
    </plugins>

    <access origin="*" />
</widget>
