<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.coenraets.pageslider"
        versionCode="10" 
        version   = "1.0.0">

    <name>Page Slider</name>

    <description>
        An application demonstrating hardware accelerated page transitions. 
    </description>

    <author href="https://google.com" email="griebel@gmail.com">
        Bob
    </author>


   <!--Android Preferences-->
<preference name="KeepRunning" value="false"/>

<preference name="LoadUrlTimeoutValue" value="10000"/>

<preference name="SplashScreen" value="mySplash"/>

<preference name="SplashScreenDelay" value="10000"/>

<preference name="InAppBrowserStorageEnabled" value="true"/>

<preference name="LoadingDialog" value="My Title,My Message"/>

<preference name="LoadingPageDialog" value="My Title,My Message"/>

<preference name="ErrorUrl" value="myErrorPage.html"/>

<preference name="ShowTitle" value="true"/>

<preference name="LogLevel" value="VERBOSE"/>

<preference name="SetFullscreen" value="false"/>

<preference name="AndroidLaunchMode" value="singleTop"/>
</widget>
